<!-- templates/home.html -->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-4">Newspaper app</h1>
    <p class="lead">A Newspaper website built with Django.</p>
    <p class="lead"><a class="btn btn-primary btn-lg" href="{% url 'article_list' %}" role="button">View All Articles</a></p>
</div>
<div>
{% if user.is_authenticated %}
    Hi {{ user.username }}!
    <p><a href="{% url 'logout' %}">logout</a></p>
    {% load static %}
    <img src="{% static "images/about01.jpg" %}" alt="カフェ Mr. M COFFEE">
{% else %}
    <p>You are not logged in</p>
    <a href="{% url 'login' %}">login</a>|
    <a href="{% url 'signup' %}">signup</a>
{% endif %}
</div>
{% endblock %}